[user]
	name = PiaCOS
	email = pia.cosneau@gmail.com
[core]
	editor = vim
[alias]
	tree1 = log --graph --oneline --decorate --all
	log1 = log --graph --pretty=oneline --abbrev-commit
	head5 = log --oneline -n 5
	head10 = log --oneline -n 10
	head20 = log --oneline -n 20
[credential]
	helper = !/usr/bin/gh auth git-credential
	# helper = !/home/odoo/.nix-profile/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
