
# -------------------------------------------------------------
#                              PYTHON
# -------------------------------------------------------------

[[language]]
indent = { tab-width = 4, unit = "    " }
language-servers = ["pyright"]
# language-servers = ["pyright", "ruff"]
name = "python"

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]

# [language-server.ruff]
# command = "ruff-lsp"
# args = []

# -------------------------------------------------------------
#                              RUST
# -------------------------------------------------------------

[[language]]
name = "rust"
indent = { tab-width = 4, unit = "    " }

[language-server.rust-analyzer.config.check]
command = "clippy"

[language-server.rust-analyzer.config.cargo]
features = "all"

[language-server.rust-analyzer.config.diagnostics]
disabled = ["unlinked-file"]

# -------------------------------------------------------------
#                    JAVASCRIPT / TYPESCRIPT
# -------------------------------------------------------------

[[language]]
name = "javascript"
indent = { tab-width = 4, unit = "    " }
# injection-regex = "^$"
language-servers = [
  "typescript-language-server", # optional
  "vscode-eslint-language-server",
]
[[language]]
name = "jsx"
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]

[[language]]
name = "typescript"
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]
[[language]]
name = "tsx"
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]

# DOES NOT WORK YET
# Used for odoo test files
# They tend to be too long for treesitter to handle
# [[language]]
# name = "js-test"
# scope = "source.js"
# grammar = "javascript"
# file-types = [{ glob = "*.test.js" }]
# injection-regex = "^$"
# roots = []
# comment-token = "//"
# indent = { tab-width = 4, unit = "    " } 

# -------------------------------------------------------------
#                             TOML
# -------------------------------------------------------------

[language-server.uwu_colors]
command = "uwu_colors"

[[language]]
name = "toml"
scope = "source.toml"
injection-regex = "toml"
file-types = [
  "toml",
  { glob = "pdm.lock" },
  { glob = "poetry.lock" },
  { glob = "Cargo.lock" },
  { glob = "uv.lock" }
]
comment-token = "#"
language-servers = [
  { name = "taplo" },
  { name = "uwu_colors" },
]
# language-servers = [ "taplo", "tombi" ]
indent = { tab-width = 2, unit = "  " }

# [language-server.tombi.config.linter]
# tables-out-of-order = false


# -------------------------------------------------------------
#                          CSS + SCSS
# -------------------------------------------------------------

[[language]]
name = "css"
auto-format = false
indent = { tab-width = 4, unit = "    " }

[[language]]
name = "scss"
auto-format = false
indent = { tab-width = 4, unit = "    " }

# -------------------------------------------------------------
#                             XML
# -------------------------------------------------------------

[[language]]
name = "xml"
file-types = [ "xml" ]
formatter = { command = "xmllint", args = ["--format", "-"] }
language-servers = [ "xml" ]
indent = { tab-width = 4, unit = "    " }

# -------------------------------------------------------------
#                             JSON 
# -------------------------------------------------------------

[[language]]
name = "json"
auto-format = false
indent = { tab-width = 4, unit = "    " }

# -------------------------------------------------------------
#                             BASH 
# -------------------------------------------------------------

[[language]]
name = "bash"
auto-format = false
indent = { tab-width = 4, unit = "    " }

# -------------------------------------------------------------
#                             FISH 
# -------------------------------------------------------------

[[language]]
name = "fish"
auto-format = false
indent = { tab-width = 4, unit = "    " }

# -------------------------------------------------------------
#                           MARKDOWN
# -------------------------------------------------------------

[[language]]
name = "markdown"
indent = { tab-width = 2, unit = "  " }
rulers = [80]

# -------------------------------------------------------------
#                            MAGMA
# -------------------------------------------------------------

[[language]]
name = "magma"
file-types = [{ glob = "*.mag" }]
scope = "source.mag"
comment-token = "#"
indent = { tab-width = 4, unit = "    " }
