
# -------------------------------------------------------------
#                              PYTHON
# -------------------------------------------------------------

[[language]]
indent = { tab-width = 4, unit = "    " }
name = "python"
language-servers = ["pyright", "ruff"]

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]

[language-server.ruff]
command = "ruff-lsp"
args = []

# -------------------------------------------------------------
#                              RUST
# -------------------------------------------------------------

[[language]]
name = "rust"
indent = { tab-width = 4, unit = "    " }

[language-server.rust-analyzer.config.check]
command = "clippy"

[language-server.rust-analyzer.config.cargo]
features = "all"

# -------------------------------------------------------------
#                    JAVASCRIPT / TYPESCRIPT
# -------------------------------------------------------------

[[language]]
name = "javascript"
indent = { tab-width = 4, unit = "    " }
language-servers = [
  "typescript-language-server", # optional
  "vscode-eslint-language-server",
]
[[language]]
name = "jsx"
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]

[[language]]
name = "typescript"
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]
[[language]]
name = "tsx"
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]

# -------------------------------------------------------------
#                             TOML
# -------------------------------------------------------------

[[language]]
name = "toml"
scope = "source.toml"
injection-regex = "toml"
file-types = [
  "toml",
  { glob = "pdm.lock" },
  { glob = "poetry.lock" },
  { glob = "Cargo.lock" },
  { glob = "uv.lock" }
]
comment-token = "#"
language-servers = [ "taplo", "tombi" ]
indent = { tab-width = 2, unit = "  " }

# -------------------------------------------------------------
#                          CSS + SCSS
# -------------------------------------------------------------

[[language]]
name = "css"
auto-format = false
indent = { tab-width = 4, unit = "    " }

[[language]]
name = "scss"
auto-format = false
indent = { tab-width = 4, unit = "    " }

# -------------------------------------------------------------
#                             XML
# -------------------------------------------------------------

[[language]]
name = "xml"
file-types = [ "xml" ]
formatter = { command = "xmllint", args = ["--format", "-"] }
language-servers = [ "xml" ]
indent = { tab-width = 4, unit = "    " }
